
<div class="container" id="container" style="height: 600px;">

  <!-- Register form-->
  <div class="form-container register-container">
    <form [formGroup]="registerForm" (ngSubmit)="createNewAccount()" >
      <h1>Register hire.</h1>
      <input
        type="text"
        placeholder="Name"
        (blur)="registerCompleted = null"
        formControlName="registerName"
        [ngClass]="{'error': registerForm.get('registerName')?.invalid && hasBeenSubmitted && !registerCompleted}"
      >
      <li style="font-size: 10px; color: red;" *ngIf="nameError">- {{nameError}}</li>
      <input
        type="email"
        placeholder="Email"
        (blur)="registerCompleted = null"
        formControlName="registerEmail"
        [ngClass]="{'error': registerForm.get('registerEmail')?.hasError('invalidEmail') && hasBeenSubmitted && !registerCompleted}"
      >
      <li style="font-size: 10px; color: red;" *ngIf="emailError">- {{emailError}}</li>
      <input
        type="password"
        placeholder="Password"
        (blur)="registerCompleted = null"
        formControlName="registerPassword"
        [ngClass]="{'error': this.registerForm.get('registerPassword')?.hasError('passwordWeak') && hasBeenSubmitted && !registerCompleted}"
      >
      <li style="font-size: 10px; color: red;" *ngIf="passwordError">- {{passwordError}} </li>
      <button type="submit">Register</button>
      <li style="font-size: 15px; color: darkgreen;" *ngIf="registerCompleted">{{registerCompleted}}</li>
    </form>
  </div>

  <!-- Login form-->
  <div class="form-container login-container">
    <form action="#" [formGroup]="loginForm" (ngSubmit)="Login()">
      <h1>Login hire.</h1>
      <input type="email" placeholder="Email" formControlName="loginEmail"
             [ngClass]="{'error': registerForm.get('registerEmail')?.hasError('invalidEmail') && loginHasBeenSubmitted}">

      <li style="font-size: 10px; color: red;" *ngIf="loginEmailError">- {{loginEmailError}}</li>
      <input type="password" placeholder="Password" formControlName="loginPassword"
             [ngClass]="{'error': this.registerForm.get('registerPassword')?.hasError('passwordWeak') && loginHasBeenSubmitted}">
      <li style="font-size: 10px; color: red;" *ngIf="loginPasswordError">- {{loginPasswordError}} </li>
      <div class="content">
        <div class="checkbox">
          <input type="checkbox" name="checkbox" id="checkbox">
          <label>Remember me</label>
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="title">Hello <br> friends</h1>
        <p>if Yout have an account, login here and have fun</p>
        <button (click)="onLoginClick()" class="ghost" id="login">Login
          <i class="lni lni-arrow-left login"></i>
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1 class="title">Start yout <br> journy now</h1>
        <p>if you don't have an account yet, join us and start your journey.</p>
        <button (click)="onRegisterClick()" class="ghost" id="register">Register
          <i class="lni lni-arrow-right register"></i>
        </button>
      </div>
    </div>
  </div>

</div>
