
<div class="container" id="container" style="height: 600px;">

  <div class="form-container register-container">
    <form [formGroup]="registerForm" (ngSubmit)="createNewAccount(RegisterErrorsTemplate)">
      <h1>Register hire.</h1>
      <input
        type="text"
        placeholder="Name"
        formControlName="registerName"
        [ngClass]="{'error': registerForm.get('registerName')?.invalid && hasBeenSubmitted}"
      >
      <input
        type="email"
        placeholder="Email"
        formControlName="registerEmail"
        [ngClass]="{'error': registerForm.get('registerEmail')?.hasError('invalidEmail') && hasBeenSubmitted}"
      >
      <input
        type="password"
        placeholder="Password"
        formControlName="registerPassword"
        [ngClass]="{'error': this.registerForm.get('registerPassword')?.hasError('passwordWeak') && hasBeenSubmitted}"
      >

      <button type="submit">Register</button>
    </form>
  </div>

  <div class="form-container login-container">
    <form action="#">
      <h1>Login hire.</h1>
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <div class="content">
        <div class="checkbox">
          <input type="checkbox" name="checkbox" id="checkbox">
          <label>Remember me</label>
        </div>
        <div class="pass-link">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <button>Login</button>
      <span>or use your account</span>
      <div class="social-container">
        <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a>
        <a href="#" class="social"><i class="lni lni-google"></i></a>
        <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a>
      </div>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="title">Hello <br> friends</h1>
        <p>if Yout have an account, login here and have fun</p>
        <button (click)="onLoginClick()" class="ghost" id="login">Login
          <i class="lni lni-arrow-left login"></i>
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1 class="title">Start yout <br> journy now</h1>
        <p>if you don't have an account yet, join us and start your journey.</p>
        <button (click)="onRegisterClick()" class="ghost" id="register">Register
          <i class="lni lni-arrow-right register"></i>
        </button>
      </div>
    </div>
  </div>

</div>

<ng-template #RegisterErrorsTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Errors When Register</h4>
  </div>
  <div class="modal-body">
    <div class="container">
      <ul>
        <li *ngIf="emailError">- {{emailError}}</li>
        <li *ngIf="passwordError">- {{passwordError}}</li>
        <li *ngIf="nameError">- {{nameError}}</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>


