<div class="Sudoku">
  <table style="background:#ffffff">
    <tr *ngFor="let row of grid; let i=index ">
      <td [class]="getClasses(grid[i][j].style)" *ngFor="let cell of row;let j=index" (click)="selectCell(i,j)">{{ cell.content === '0' ? '' : cell.content }}</td>
    </tr>
  </table>
  <div *ngIf="displayOptions()" class="options-container">
    <div *ngFor="let j of arrayToDisplay();let colIndex=index" class="option" (click)="selectedNumber(j)">
      <div >{{j === 0 ? '' : j }}</div>
    </div>
  </div>
</div>
