<!--make a test in the center of this page to be the title. -->
<div class="center"> <h3 class="sudokuText"> Sudoku Game </h3></div>
<div class="grid">
  <div class="game-option">
    <img src="/assets/Easy.png" alt="Game 1 screenshot">
    <p>Sudoku game with an Easy Level</p>
    <button class="easy-button" (click)="OpenGame('Easy')">Play</button>
  </div>
  <div class="game-option">
    <img src="/assets/Medium.png" alt="Game 2 screenshot">
    <p>Sudoku game with an Medium Level</p>
    <button class="medium-button" (click)="OpenGame('Medium')">Play</button>
  </div>
  <div class="game-option">
    <img src="/assets/Hard.png" alt="Game 3 screenshot">
    <p>Sudoku game with an Hard Level</p>
    <button class="hard-button" (click)="OpenGame('Hard')">Play</button>
  </div>
</div>
<router-outlet></router-outlet>

