<div class="fullGameDisplay">
  <br/><br/><br/><br/>
  <div class="main-game-info">
    <div class="main-game-info-box main-game-info-name">
      <span id="player-name">{{"Sarel"}}</span>
    </div>

    <div class="main-game-info-box main-game-info-level">
      <span id="game-level">{{level}}</span>
    </div>
  </div>
  <app-sudoku [sudokuString]="boardString" [sudokuStringSolve]="boardStringSolve"></app-sudoku>

  <div class="main-game-info">
    <app-timer-component></app-timer-component>
  <div class="main-game-info-box hint-button" style="display: inherit;width: 120px;"  (mouseover)="hovering = true" (mouseout)="hovering = false">
    <button style="border: none; ">
      <span>Hint   </span>
      <img [src]="hovering ? 'https://cdn-icons-png.flaticon.com/512/2910/2910890.png' : 'https://cdn-icons-png.flaticon.com/512/2313/2313792.png'" src="https://cdn-icons-png.flaticon.com/512/2313/2313792.png " alt="Hint Icon">
    </button>
  </div>
  </div>
</div>
